:root {
  --background: #fff;
  --foreground: #000;

  --button-background: #cdcdcd98;
  --button-foreground: #000000;
}

.darkmode {
  --background: #000000;
  --foreground: #ffffff;

  --button-background: #656565a7;
  --button-foreground: #ffffff;
}

.hidden {
  display: none;
}

.visible {
  display: inline-block;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
  border: 1px solid #000;
  padding: 5px;
  background-color: var(--button-background);
  /* the button foreground doesn't work for some reason */
  color: var(--button-foreground);
}

hr {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

/* Header section. */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  color: var(--foreground);
  text-decoration: none;
  font-weight: bold;
}

.save-button {
  color: inherit;
}

.save-text {
  color: #1bb547;
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.reset-button {
  color: inherit;
}

.light-switch {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #82828285;

}

/* News section */
.news-section {
  text-align: center;
  padding: 10px;
}

.animated {
  animation: news-animation 0.5s linear;
}

@keyframes news-animation {
  from {transform: translate(0px, 5px);}
  to {transform: translate(0px, 0px);}
}

/* Food section */

.wilderness-section {
  color: inherit;
}

.food-text {
  color: inherit;
}

.add-food-button {
  color: inherit;
}

.tooltip-text {
  position: absolute;
  border: 1px solid var(--foreground);
  padding: 20px;
  margin: 10px;
  background-color: var(--button-background);
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  z-index: 1;
  transform: translate(10%, -50%);
}

button:hover .tooltip-text {
  visibility: visible;
}

/* Human section */


